extends ../layout

block section
   .form-control
      form(action="/user/login", method="post")
       label(for="username" value="username") Username
       input(type="text" name="email")
       label( for="password") Password
       input(type="text" name="password")
       input(type="submit", value="submit")