extends ../layout

block section
   form(action="/user/register" method="post")
    label(for="username") Username
    input(type="text", name="username") 
    label(for="password") Password
    input(type="text" name="password")
    label(for="email") Email
    input(type="text" name="email")
    input(type="submit" value="submit")
    